.optionBox {
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.arrowbox {
    border-right: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    background-color: rgba(0, 0, 0, 0.6);
    width: 45px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-top: 2px;
    padding: 5px;
}

.up {
    margin-top: 8px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: transform 0.2s linear;
}
.down {
    margin-top: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.2s linear;
}