.mars-page {
    display: flex;
    justify-content: center;
}

.pictures {
    display: grid;
    grid-template-columns: auto auto auto;
}

img {
    margin: 10px;
}

.spin {
    margin-bottom: 20px;
}