.App {
  text-align: center;
  min-height: 100vh;
  background-color: black;
  background-size: cover;
}

/* .App.earth {
  background-image: url('./images/earth.jpg');
}

.App.mars {
  background-image: url('./images/mars.jpg') ; 
} */
