.grid-outer-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 480px; 
}
.spin {
    margin-bottom: 20px;
}

@media screen and (max-width: 549px) {
    .grid-inner {
        display: grid;
        grid-template-columns: auto;
        /* margin-bottom: 180px; */
    }
    
}

@media screen and (min-width: 550px) {
    .grid-inner {
        display: grid;
        grid-template-columns: auto auto;
        /* margin-bottom: 700px; */
    }
}

@media screen and (min-width: 950px) {
    .grid-inner {
        display: grid;
        grid-template-columns: auto auto auto;
        /* margin-bottom: 10px; */
    }
}