.alert {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

form {
    background-color: rgba(255, 255, 255, 0.70);
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-radius: 40px;
}

label {
    margin: 0px 20px;
    color: black;
}

.input {
    margin-left: 5px;
}

.button {
    border-radius: 4px;
}

.cards {
    background-color: rgba(27, 27, 27, 0.9);
    color: white;
    margin: 10px;
    padding: 20px 50px;
}


/* thead {
    position: sticky;
    top: 0;
}


tr {
    width: 100%;
    display: table;
    table-layout: fixed;
} */