.astronomy-page {
    min-height: 100vh;
    background-image: url('../../images/earth.jpg');
    background-size: cover;
}

h2 {
    color: white;
    padding-bottom: 20px;
}

.astronomy {
    background-color: rgba(255, 255, 255, 0.75);
    height: 400px;
    width: 88%;
    margin: auto;
    border-radius: 30px;
    padding: 25px;
    overflow: auto;
}



.explanation {
    text-align: left;
}

.visual {
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    padding-top: 3%;
}