.navbar {
    padding-left: 10%;
    margin-bottom: 20px;
}

img {
    margin-right: 5px;
}

#name {
    font-size: x-large;
    font-weight: bold;
}

#categories {
    padding-left: 20px;
}
#text {
    padding-left: 60px;
    color: white;
}
