.navbar {
    padding-left: 10%;
    padding-top: 12px;
    background-color: rgba(0, 0, 0, 0.85);
}

img {
    margin-right: 5px;
}

#name {
    font-size: x-large;
    font-weight: bold;
}

#categories {
    padding-right: 10%;
}
#text {
    padding-left: 40px;
    color: white;
}

#text:hover {
    text-decoration: underline;
}