.navbar {
    padding-left: 10%;
    margin-bottom: 20px;
    padding-top: 12px;
}

img {
    margin-right: 5px;
}

#name {
    font-size: x-large;
    font-weight: bold;
}

#categories {
    padding-right: 10%;
}
#text {
    padding-left: 60px;
    color: white;
}

#text:hover {
    text-decoration: underline;
}
